<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="#">Keerti</a>
  </div>
  <div class="uk-navbar-right uk-visible@s">
    <ul class="uk-navbar-nav">
      <li><a href="/"><span uk-icon="home"></span>Home</a></li>
      <li><a href="/"><span uk-icon="user"></span>About</a></li>
      <li><a href="/"><span uk-icon="folder"></span>Projects</a></li>
      <li><a href="#contactme"><span uk-icon="user"></span>Contact me</a></li>
    </ul>
  </div>
  <a class="uk-navbar-toggle uk-hidden@s" uk-toggle="target: #sidenav" uk-navbar-toggle-icon></a>
</nav>
<div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <ul class="uk-navbar-nav">
      <li><a href="/"><span uk-icon="home"></span>Home</a></li>
      <li><a href="/"><span uk-icon="user"></span>About</a></li>
      <li><a href="/"><span uk-icon="folder"></span>Projects</a></li>
      <li><a href="#contactme"><span uk-icon="user"></span>Contact me</a></li>
    </ul>
  </div>
</div>
<div class="uk-child-width-expand@s uk-text-center uk-width-1-2@m uk-height-match uk-margin-small-left" uk-grid>
  <div>
    <div class="uk-card uk-card-default">
      <div class="uk-card-media-top">
        <img src="{{image_url}}" width="1800" height="1200" alt="">
      </div>

      <div class="uk-card-body">
        <h3 class="uk-card-title">{{name}}</h3>
        <p class="uk-text-left">Description- <br>
          {{description}}
        </p>

        <p class="uk-text-left"> Technology used:<br>
          {{#each technologies }}
        <p class="uk-text-left">{{name}}</p>
        {{/each}}
        </p>
        <p class="uk-text-left">
          Website Link: <a href="{{website_url}}">Link to website</a><br>
          Repository Link: <a href="{{repo_url}}">Github Repo Link</a>
        </p>
      </div>
    </div>
  </div>
</div>